 
<div class="container py-5" style="padding-left: 15px; padding-right: 15px; margin-bottom: 10px;">
    <div class="row align-items-center"
        style="background-color: #ccd2e7; width: 80vw; margin-left: -40vw; left: 50%; position: relative; padding: 30px 30px; border-radius: 10px;">
    
        <div class="col-md-6 text-center mb-4 mb-md-0">
            <img src="assets/images/13.jfif" alt="Home Illustration" class="img-fluid"
                style="max-height: 250px; border-radius: 12px;" />
        </div>
    
        <div class="col-md-6">
            <h1 class="display-5 fw-bold" style="font-size: 2rem;">Welcome to FinTrack</h1>
            <p class="mt-3" style="font-size: 1rem;">
                Track, manage, and grow your investments with real-time analytics and personalized tools.
            </p>
            <ul class="list-unstyled mt-4" style="font-size: 1rem;">
                <li class="mb-2"><i class="bi bi-graph-up-arrow text-success me-2"></i> Live portfolio performance
                    tracking</li>
                <li class="mb-2"><i class="bi bi-currency-rupee text-success me-2"></i> Real-time net worth updates</li>
                <li class="mb-2"><i class="bi bi-shield-check text-success me-2"></i> Bank-level security & data
                    encryption</li>
                <li class="mb-2"><i class="bi bi-lightning-fill text-success me-2"></i> Lightning fast dashboard &
                    visualizations</li>
            </ul>
            <div class="d-flex flex-wrap gap-3 mt-4">
            <!-- <button class="btn btn-dark mt-3" [routerLink]="['/register']">Explore Dashboard</button> -->
    
            <button class="btn btn-dark mt-3" [routerLink]="['/signup']">Sign Up</button>
            <button class="btn btn-dark mt-3" [routerLink]="['/login']">Log In</button>
            </div>
        </div>
    
    </div>
    </div>
    